@charset "utf-8";

@font-face {
    font-family: 'ps4';
    src: url(fontes/ps4.otf);
}
@font-face {
    font-family: 'tobey';
    src: url(./fontes/tobey.ttf);
}
@font-face {
    font-family: 'andrew';
    src: url(./fontes/andrew.ttf);
}
@font-face {
    font-family: 'tom';
    src: url(./fontes/tom.ttf);
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
}


header {
    background-color: #902724;
    display: flex;
    justify-content: center; 
    padding: 10px;
}

header > h1 {
    color: lightgrey;
    font-family: 'ps4';
    font-size: 5.5em;
    padding-top: 3vh;
}

.h1left {
    padding-right: 5vw;
}

.h1right {
    padding-left: 5vw;
}

#tobey {
    height: 50vh;
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    padding-top: 20vh;
    padding-bottom: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #0f0f0f;
}

#backgroundtobey {
    background-color: #0f0f0f;
}

#tobey > h1 {
    font-family: 'tobey';
    font-size: 3em;
    text-align: start;
    padding-left: 2vw;
    margin-top: 3vh;
    color: rgba(255, 255, 255, 0.842);
}

#imgeptobey {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.575);
}

#imgeptobey p {
    padding: 20px;
    text-align: justify;
    margin-top: 3vh;
    font-size: 1.1em;
}

#tobeyfoto > img {
    margin-top: 5vh;
    transform: scaleX(-1);
    width: 350px;
    opacity: 70%;
    border: 2px dashed rgba(255, 0, 0, 0.836);
}

#aranhadescendo {
    margin-bottom: 18vh;
    display: flex;
    justify-content: end;
}

#aranhadescendo img {
    width: 400px;
    opacity: 95%;
}

#andrew {
    height: 70vh;
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #0f0f0f;
}

#backgroundandrew {
    background-color: #0f0f0f;
}

#andrew > h1 {
    font-family: 'andrew';
    font-size: 4em;
    text-align: end;
    padding-right: 5vw;
    margin-top: 3vh;
    color: rgba(255, 255, 255, 0.774);
}

#imgepandrew {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: rgba(255, 255, 255, 0.575);
}

#imgepandrew p {
    padding: 20px;
    text-align: justify;
    margin-top: 3vh;
    font-size: 1.2em;
}

#andrewfoto > img {
    margin-top: 5vh;
    width: 300px;
    opacity: 70%;
    border: 2px dashed rgba(116, 0, 0, 0.836);
}

#tomnateia {
    display: flex;
    justify-content: center;
    margin-top: -1.6vh;
    padding-bottom: 100px;
}

#tomnateia img {
    width: 400px;
    opacity: 95%;
}

#tom {
    height: 81vh;
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    padding-top: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #0f0f0f;

}

#backgroundtom {
    background-color: #0f0f0f;

}

#tom > h1 {
    font-family: 'tom';
    font-size: 5em;
    text-align: center;
    padding-right: 5vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    color: rgba(231, 230, 230, 0.897);
    border: 1px solid rgba(255, 255, 255, 0.010);
}

#imgeptom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.575);
}

#imgeptom p {
    padding: 20px;
    text-align: justify;
    margin-top: 3vh;
    font-size: 1em;
}

#tomfoto > img {
    margin-top: 5vh;
    transform: scaleX(-1);
    width: 420px;
    opacity: 80%;
    border: 2px dashed rgb(116, 0, 0);
}

footer {
    font-size: 1em;
    text-align: center;
    background-color: rgba(24, 24, 24, 0.89);
    color: rgb(182, 182, 182);
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(133, 1, 1);
}
