/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 1200px) {
    header {
        padding: 5px;
    }

    header h1 {
        font-size: 5em;
    }

    header img {
        width: 10vw;
    }

    #tobey {
        height: 450px;
        max-width: 800px;
    }

    #tobey h1 {
        margin-top: 25px;
        font-size: 2.1em;
    }

    #tobey p {
        font-size: 0.9em;
    }

    #tobeyfoto img {
        margin-top: 40px;
        width: 320px;
    }


    #aranhadescendo {
        padding-bottom: 110px;
    }

    #aranhadescendo img {
        width: 250px;
    }

    #andrew {
        height: 550px;
        max-width: 800px;
    }

    #andrew h1 {
        padding-top: 50px;
        font-size: 2.5em;
    }

    #andrew p {
        font-size: 0.9em;
    }

    #andrewfoto img {
        width: 230px;
    }

    #tomnateia img {
        width: 200px;
        padding-bottom: 50px;
    }

    #tom {
        padding-top: 30px;
        height: 480px;
        max-width: 800px;
    }

    #tom h1 {
        font-size: 2.6em;
    }

    #tom p {
        font-size: 0.75em;
    }

    #tomfoto img {
        width: 320px;
    }

    footer {
        font-size: 0.8em;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {

    header {
        padding-top: 10px;
        padding-bottom: 5px;
    }    
    header h1 {
        padding: 15px;
        font-size: 4em;
    }
    header img {
        width: 100px;
    }

    #tobey {
        height: 430px;
        max-width: 700px;
        padding: 80px;
    }

    #tobey h1 {
        padding-top: 20px;
        font-size: 2.4em;
    }

    #tobey p {
        font-size: 0.75em;
    }

    #tobeyfoto img {
        width: 300px;
    }

    #aranhadescendo img {
        width: 200px;
        padding-bottom: 100px;
    }

    #andrew {
        max-width: 700px;
    }

    #andrew h1 {
        font-size: 3em;
    }

    #andrew p {
        font-size: 0.8em;
    }

    #andrewfoto img {
        width: 220px;
    }

    #tomnateia img {
        width: 170px;
        padding-bottom: 80px;
    }

    #tom {
        max-width: 700px;
        height: 600px;
    }

    #tom h1 {
        font-size: 3em;
    }

    #tom p {
        font-size: 0.75em;
    }

    #tomfoto img {
        margin-top: 55px;
        padding-top: 50px;
        width: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    header {
        padding: 0px;
    }

    header h1 {
        font-size: 3.5em;
    }

    header img {
        width: 100px;
    }

    #tobey {
        padding-top: 90px;
        max-width: 500px;
        height: 430px;
    }

    #tobey h1 {
        text-align: center;
        font-size: 2.2em;
    }

    #tobey p {
        font-size: 0.6em;
    }

    #tobeyfoto img {
        padding-top: 50px;
        margin-top: 45px;
        width: 250px;
    }

    #aranhadescendo img {
        width: 220px;
        padding-bottom: 90px;
    }

    #andrew {
        max-width: 500px;
    }

    #andrew h1 {
        font-size: 2.8em;
    }

    #andrew p {
        font-size: 0.65em;
    }

    #andrewfoto img {
        padding-top: 22px;
        margin-top: 43px;
        width: 220px;
    }

    #tomnateia img {
        width: 170px;
        padding-bottom: 50px;
    }

    #tom {
        height: 600px;
        padding-top: 70px;
        max-width: 500px;
    }

    #tom h1 {
        font-size: 3em;
    }

    #tom p {
        font-size: 0.58em;
    }

    #tomfoto img {
        margin-top: 40px;
        width: 250px;
        padding-top: 120px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px ) {

    header {
        height: 85px;
    }

    header h1 {
        font-size: 3.5em;
        padding-top: 12px;
    }

    header img {
        width: 100px;
        height: 90px;
    }

    #tobey {
        max-width: 450px;
        height: 750px;
        padding-top: 90px;
    }

    #tobey h1 {
        text-align: center;
        font-size: 2.3em;
    }

    #imgeptobey {
        display: flex;
        flex-direction: column;
    }

    #tobey p {
        font-size: 0.9em;
        padding-bottom: 0px;
    }

    #tobeyfoto img {
        width: 380px;
        margin-left: 7%;
    }

    #aranhadescendo img {
        width: 200px;
        padding-bottom: 100px;
    }

    #andrew {
        max-width: 450px;
        height: 880px;
    }

    #andrew h1 {
        text-align: center;
        font-size: 3em;
    }

    #imgepandrew {
        display: flex;
        flex-direction: column;
    }

    #andrew p {
        font-size: 0.9em;
    }

    #andrewfoto img {
        width: 220px;
        padding: 0px 80px;
        margin-left: 7%;
    }

    #tomnateia img {
        width: 150px;
        padding-bottom: 80px;
    }

    #tom {
        max-width: 400px;
        height: 1040px;
    }

    #tom h1 {
        font-size: 3.1em;
        text-align: center;
    }

    #imgeptom {
        display: flex;
        flex-direction: column;
    }

    #tom p {
        font-size: 0.9em;
    }

    #tomfoto img {
        width: 300px;
        padding: 0px 25px;
        margin-left: 5%;
    }
}

@media screen and (max-width: 599px) {

    header {
        height: 80px;
    }
    
    header h1 {
        font-size: 3em;
    }

    header img {
        padding-top: 3%;
        width: 80px;
        height: 70px;
    }

    #tobey {
        max-width: 90%;
        height: 760px;
        padding-top: 50px;
    }

    #imgeptobey {
        display: flex;
        flex-direction: column;
    }

    #tobey h1 {
        font-size: 2.5em;
        text-align: center;
        margin-right: 6%;
    }

    #tobey p {
        font-size: 0.8em;
        padding-bottom: 0px;
    }

    #tobeyfoto img {
        width: 280px;
        margin-left: 7%;
    }

    #aranhadescendo img {
        width: 180px;
        padding-bottom: 120px;
    }

    #andrew {
        max-width: 90%;
        height: 905px;
    }

    #andrew h1 {
        font-size: 3.1em;
        text-align: center;
    }

    #imgepandrew {
        display: flex;
        flex-direction: column;
    }

    #andrew p {
        font-size: 0.83em;
        padding-bottom: 0px;
    }

    #andrewfoto img {
        width: 180px;
        padding: 0px 50px;
        margin-left: 7%;
    }

    #tomnateia img {
        width: 165px;
        padding-bottom: 40px;
    }
    
    #tom {
        max-width: 90%;
        height: 1080px;
        padding-top: 70px;
    }

    #tom h1 {
        font-size: 3.5em;
        margin-left: 9%;
    }

    #imgeptom {
        display: flex;
        flex-direction: column;
    }

    #tom p {
        font-size: 0.83em;
        padding-bottom: 0px;
    }

    #tomfoto img {
        width: 250px;
        padding: 0px 10px;
        margin-left: 9%;
    }

    footer {
        font-size: 0.9em;
        padding: 11px;
    }


}