    /* Monitor pequeno */
@media screen and (min-width: 1360px) and (max-width: 1919px) {

    header {
        padding: 0px;
    }

    header h1 {
        font-size: 4em;
    }

    header img {
        width: 110px;
    }
    

    #tobey {
        max-width: 800px;
        height: 80vh;
        padding-top: 15vh;
        padding-bottom: 3vh;
    }

    #tobey > h1 {
        font-size: 2.5em;
    }

    #imgeptobey p {
        font-size: 0.9em;
    }

    #tobeyfoto > img {
        width: 300px;
        margin-top: 6vh;
    }

    #aranhadescendo img {
        width: 300px;
        padding-bottom: 20vh;
    }

    #andrew {
        max-width: 800px;
        height: 90vh;
        padding-bottom: 8vh;
    }

    #andrew > h1 {
        font-size: 3em;
    }

    #andrew p {
        font-size: 1em;
    }

    #andrewfoto img {
        margin-top: 7vh;
        width: 265px;
    }

    #tomnateia img {
        width: 220px;
        padding-bottom: 10vh;
    }

    #tom {
        max-width: 800px;
        height: 90vh;
        padding-top: 5vh;
    }

    #tom h1 {
        font-size: 3.5em;
    }

    #tom p {
        font-size: 0.8em;
    }

    #tomfoto img {
        width: 330px;
        margin-top: 8vh;
        padding-top: 20px;
    }

    footer {
        padding: 10px;
        font-size: 0.9em;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1280px) {
    #tobey {
        padding-top: 10vh;
        padding-bottom: 28vh;
    }

    #tobey h1 {
        padding-left: 0;
        text-align: center;
        font-size: 5em;
}

    #tobey P {
        font-size: 0.9em;
    }

    #tobey img {
        width: 350px;
        padding: 5vh 0vh 0vh;
    
    }

    #andrew h1 {
        padding-left: 5vw;
        text-align: center;
        font-size: 5em;
    }
    #andrew p {
        font-size: 0.95em;
    }

    #andrew img {
        width: 330px;
    }

    #tomnateia img {
        width: 300px;
        padding-bottom: 15vh;
    }

    #tom {
        padding-top: 10vh;
    }

    #tom h1 {
        padding-left: 6vw;
        text-align: center;
        font-size: 5em;
    }

    #tom p {
        font-size: 0.9em;
    }

    #tom img {
        width: 350px;
    }
}

/* Celular */

@media (min-width: 320px) and (max-width: 480px) {
  
    header {
        margin: 0;
        padding: 1vh;
    }

    header h1 {
        font-size: 15vw;
    }

    header img {
        width: 15vh;
    }

    #tobey {
        padding-top: 10vh;
        padding-bottom: 75vh;

    }

    #tobey h1 {
        font-size: 2.5em;
        text-align: center;
        padding-right: 6vw;
    }

    #imgeptobey {
        display: flex;
        flex-direction: column;
    }

    #tobey p {
        font-size: 0.8em;
    }

    #tobey img {
        width: 250px;
        margin-left: 12vw;
        margin-top: 2vh;
    }

    #aranhadescendo img {
        width: 25vh;
        padding-bottom: 25vh;
    }

    #andrew {
        padding-bottom: 68vh;
    }

    #imgepandrew {
        display: flex;
        flex-direction: column;
    }

    #andrew h1 {
        font-size: 2.5em;
        text-align: center;
        padding-left: 6vw;
    }

    #andrew p {
        font-size: 0.8em;
    }

    #andrew img {
        width: 200px;
        margin-left: 20vw;
        margin-top: 2vh;

    }

    #tomnateia {
        margin-top: -2vh;
        padding-bottom: 25vh;
        
    }
    
    #tomnateia img {
        width: 200px;
    }

    #tom {
        padding-bottom: 90vh;
        padding-top: 10vh;
    }

    #imgeptom {
        display: flex;
        flex-direction: column;
    }

    #tom h1 {
        font-size: 3.3em;
        text-align: center;
        padding-left: 10%;
    }
    #tom p {
        font-size: 0.8em;
    }

    #tom img {
        width: 300px;
        margin-left: 6%;
    }
  }